#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This takes the full height of the viewport */
}
.SignIn {
  font-size: 35px;
  padding: 0;
  letter-spacing: 3px;
  text-align: center;
}

.LoginButton {
  padding: 15px;
  width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.InputButton {
  padding: 15px;

  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: none;
}

.formik {
  width: 300px;
}
